body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
h1, h2, h3, h4, h5 {
  font-weight: 400;
  line-height: 1.3;
}
h1 {font-size: 3.052rem;}
h2 {font-size: 2.441rem;}
h3 {font-size: 1.953rem;}
h4 {font-size: 1.563rem;}
h5 {font-size: 1.25rem;}

.intro {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
}
.logo {
    background-image: none;
    border-radius: 50%;
    padding: 5px 5px;
    border: 2px solid black;
}
.links ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.links a {
    font-size: 20px;
    color: black;
    padding: 8px;
    text-decoration: none;
}
.desc{
    /*background-color: lightsteelblue;*/
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), 
    rgba(255, 255, 255, 0.5)), url("images/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 55px 120px;
    font-family: 'Mali', cursive, sans-serif;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.desc p, .cta-desc p {
    width: 400px;
}   
.info-btn, .cta-btn {
    border: none;
    border-radius: 12px;
    background-color: white;
    cursor: pointer;
    padding: 5px 10px;
    width: fit-content;
    font-family: 'Mali', cursive, sans-serif;;
}
.info-btn:hover {
    background: #CAEEF9;
}
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 55px 0px;
    font-family: 'Mali', cursive, sans-serif;
}
.prod-title{
    font-family: 'Mali', cursive, sans-serif;
}
.prod-cards {
    display: flex;
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-box{
    border-radius: 8px;
    border: 2px solid black;
    width: 200px;
    height: 200px;
}
.reviews {
    display: flex;
    gap: 20px; 
    align-items: center;
    justify-content: center;
    padding: 55px 0px;
    background-color: #F1F3F9;
    font-family: 'Mali', cursive, sans-serif;
}
   
.review {
    /* do shadowed boxes*/
    border: 2px solid black; 
    width: 300px;
    height: 200px;
}
.checked {
    color: orange;
}
.cta {
    padding: 55px 250px;
}
.cta-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    background-color: #CAEEF9;
    border-radius: 4px;
    padding: 30px 40px;
    font-family: 'Mali', cursive, sans-serif;
}

footer {
    background-color: #FBCCD2;
    text-align: center;
    font-size: 0.75rem;
    padding: 10px 0px 10px 0px;
}