body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.intro {
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
}
.logo {

}
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}
a {
    font-size: 20px;
    color: black;
    padding: 8px;
    text-decoration: none;
}
.desc{
    /*background-color: lightsteelblue;*/
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), 
    rgba(255, 255, 255, 0.5)), url("images/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 55px 120px;
    font-family: 'Mali', cursive, sans-serif;
}

.btn-info{
    border: none;
    border-radius: 12px;
    background-color: white;
    cursor: pointer;
    padding: 5px 10px;
    font-family: 'Mali', cursive, sans-serif;;
}
.btn-info:hover {background: lightsteelblue;}
.products {
    display: flex;
}
.reviews {
    display: flex;
}
.cta {
    display: flex;
}